<div class="container my-4">


  <div class="row g-4" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="col-6 col-md-3" *ngFor="let card of cards" cdkDrag [routerLink]="card.route">

      <!-- PRODUCT -->
      <ng-container *ngIf="card.id === 'product'">

        <div *ngIf="isLoading" class="text-center my-3">
          <div class="spinner-border text-primary"></div>
        </div>


        <div class="card dashboard-card bg-primary h-100" *ngIf="!isLoading">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-white">Total Products</h6>

              <span>
                <h2 class="text-white">{{ product_count }}</h2>
              </span>

            </div>
            <div class="icon-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-package-icon lucide-package">
                <path
                  d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z" />
                <path d="M12 22V12" />
                <polyline points="3.29 7 12 12 20.71 7" />
                <path d="m7.5 4.27 9 5.15" />
              </svg>
            </div>
          </div>
        </div>

      </ng-container>

      <!-- BILL -->
      <ng-container *ngIf="card.id === 'bill'">

        <div *ngIf="isLoading" class="text-center my-3">
          <div class="spinner-border text-primary"></div>
        </div>


        <div class="card dashboard-card bg-success h-100" *ngIf="!isLoading">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="text-white">
              <h6>Total Bills</h6>
              <h2>{{ bill_count }}</h2>
            </div>
            <div class="icon-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-receipt-indian-rupee-icon lucide-receipt-indian-rupee">
                <path
                  d="M4 3a1 1 0 0 1 1-1 1.3 1.3 0 0 1 .7.2l.933.6a1.3 1.3 0 0 0 1.4 0l.934-.6a1.3 1.3 0 0 1 1.4 0l.933.6a1.3 1.3 0 0 0 1.4 0l.933-.6a1.3 1.3 0 0 1 1.4 0l.934.6a1.3 1.3 0 0 0 1.4 0l.933-.6A1.3 1.3 0 0 1 19 2a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1 1.3 1.3 0 0 1-.7-.2l-.933-.6a1.3 1.3 0 0 0-1.4 0l-.934.6a1.3 1.3 0 0 1-1.4 0l-.933-.6a1.3 1.3 0 0 0-1.4 0l-.933.6a1.3 1.3 0 0 1-1.4 0l-.934-.6a1.3 1.3 0 0 0-1.4 0l-.933.6a1.3 1.3 0 0 1-.7.2 1 1 0 0 1-1-1z" />
                <path d="M8 11h8" />
                <path d="M8 7h8" />
                <path d="M9 7a4 4 0 0 1 0 8H8l3 2" />
              </svg>
            </div>
          </div>
        </div>


      </ng-container>

      <!-- Vendor -->
      <ng-container *ngIf="card.id === 'vendor'">

        <div *ngIf="isLoading" class="text-center my-3">
          <div class="spinner-border text-primary"></div>
        </div>

        <div class="card dashboard-card bg-warning h-100" *ngIf="!isLoading">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="text-white">
              <h6>Total Vendors</h6>
              <h2>{{ vendor_count }}</h2>
            </div>
            <div class="icon-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-users-icon lucide-users">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <path d="M16 3.128a4 4 0 0 1 0 7.744" />
                <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                <circle cx="9" cy="7" r="4" />
              </svg>
            </div>
          </div>

        </div>
      </ng-container>

      <!-- CUSTOMER -->
      <ng-container *ngIf="card.id === 'customer'">

        <div *ngIf="isLoading" class="text-center my-3">
          <div class="spinner-border text-primary"></div>
        </div>

        <div class="card dashboard-card bg-info h-100" *ngIf="!isLoading">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="text-white">
              <h6>Total Customers</h6>
              <h2>{{ customer_count }}</h2>
            </div>
            <div class="icon-box">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-users-icon lucide-users">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <path d="M16 3.128a4 4 0 0 1 0 7.744" />
                <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                <circle cx="9" cy="7" r="4" />
              </svg>
            </div>
          </div>

        </div>
      </ng-container>


    </div>
  </div>

</div>

<div class="container mt-4">

  <div *ngIf="isLoading" class="text-center my-3">
    <div class="spinner-border text-primary"></div>
  </div>


  <div class="row g-4" cdkDropList (cdkDropListDropped)="dropList($event)" *ngIf="!isLoading">

    
    @for (card of listCards; track card.id) {
    <div class="col-12 col-md-4" cdkDrag>
      <!-- PRODUCTS -->
      @if (card.id === 'products') {
      <div class="card dashboard-list-card h-100" [routerLink]="['/product']">
        <div class="card-header bg-primary">
          <i class="bi bi-box-seam me-2"></i> Recent Products
          <span class="badge bg-light text-dark float-end">
            {{ recentProducts?.length || 0 }}
          </span>
        </div>

        <div class="card-body list-body">
          @if (recentProducts?.length > 0) {
          @for (item of recentProducts; track item.id) {
          <div class="list-item d-flex justify-content-between">
            <span>{{ item.name }}</span>
            <span class="price text-primary">₹{{ item.price }}</span>
          </div>
          }
          } @else {
          <div class="empty-state">No products found</div>
          }
        </div>

      </div>

      }

      <!-- BILLS -->
      @if (card.id === 'bills') {
      <div class="card dashboard-list-card h-100">

        <div class="card-header bg-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-receipt-icon lucide-receipt">
            <path d="M12 17V7" />
            <path d="M16 8h-6a2 2 0 0 0 0 4h4a2 2 0 0 1 0 4H8" />
            <path
              d="M4 3a1 1 0 0 1 1-1 1.3 1.3 0 0 1 .7.2l.933.6a1.3 1.3 0 0 0 1.4 0l.934-.6a1.3 1.3 0 0 1 1.4 0l.933.6a1.3 1.3 0 0 0 1.4 0l.933-.6a1.3 1.3 0 0 1 1.4 0l.934.6a1.3 1.3 0 0 0 1.4 0l.933-.6A1.3 1.3 0 0 1 19 2a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1 1.3 1.3 0 0 1-.7-.2l-.933-.6a1.3 1.3 0 0 0-1.4 0l-.934.6a1.3 1.3 0 0 1-1.4 0l-.933-.6a1.3 1.3 0 0 0-1.4 0l-.933.6a1.3 1.3 0 0 1-1.4 0l-.934-.6a1.3 1.3 0 0 0-1.4 0l-.933.6a1.3 1.3 0 0 1-.7.2 1 1 0 0 1-1-1z" />
          </svg>
          Recent Bills
          <span class="badge bg-light text-dark float-end">
            {{ recentBills?.length || 0 }}
          </span>
        </div>

        <div class="card-body list-body">
          @if (recentBills?.length > 0) {
          @for (item of recentBills; track item.id) {
          <div class="list-item d-flex justify-content-between" [routerLink]="['/viewbill', item.id]">
            <span>{{ item.customer }}</span>
            <span class="price text-success">₹{{ item.totalAmount }}</span>
          </div>
          }
          } @else {
          <div class="empty-state">No bills found</div>
          }
        </div>

      </div>
      }

      <!-- CUSTOMERS -->
      @if (card.id === 'customers') {
      <div class="card dashboard-list-card h-100">

        <div class="card-header bg-info">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-users-icon lucide-users">
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <path d="M16 3.128a4 4 0 0 1 0 7.744" />
            <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
            <circle cx="9" cy="7" r="4" />
          </svg>
          Top Customers
        </div>

        <div class="card-body list-body">
          @if (customerSummary?.length > 0) {
          @for (c of customerSummary; track c.name; let i = $index) {
          <div class="list-item d-flex justify-content-between align-items-center">
            <div>
              <span class="rank">{{ i + 1 }}</span>
              {{ c.name }}
            </div>
            <span class="price text-success">₹{{ c.total }}</span>
          </div>
          }
          } @else {
          <div class="empty-state">No data found</div>
          }
        </div>

      </div>
      }

    </div>
    }

  </div>
  
</div>