<div class="container mt-4">

  <!-- Navbar / Header -->
  <nav class="navbar bg-white shadow-sm px-4 py-3 rounded-4 mb-4 sticky-top">

    <div class="container-fluid p-0 d-flex align-items-center justify-content-between flex-wrap gap-3">

      <!-- Title -->
      <h3 class="fw-bold text-primary m-0">
        All Bills
      </h3>

      <!-- Search + Button -->
      <div class="d-flex align-items-center gap-2 flex-grow-1 justify-content-end">

        <!-- Search -->
        <div class="input-group" style="max-width: 350px;">

          <input type="text" class="form-control border-start-0 rounded-pill" placeholder="Search customer..."
            [(ngModel)]="searchText" />
        </div>

        <!-- Clear -->
        <button class="btn btn-outline-secondary rounded-pill" (click)="searchText=''">
          Clear
        </button>

        <!-- Action -->
        <button type="button" class="btn btn-success rounded-pill px-4 shadow-sm" routerLink="/generateBill">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-plus-icon lucide-file-plus"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="M9 15h6"/><path d="M12 18v-6"/></svg> Generate Bill
        </button>
      </div>

    </div>
  </nav>

  <!-- Bills Grid -->

  <div *ngIf="isLoading" class="text-center my-3">
    <div class="spinner-border text-primary"></div>
  </div>



  <div class="row g-3" *ngIf="!isLoading">
    @for (b of filteredBills; track b.id) {
    <div class="col-lg-3 col-md-4 col-sm-6">
      <app-bill-card [bill]="b" (deleted)="fetchBills()" (updated)="fetchBills()">
      </app-bill-card>
    </div>
    }
  </div>

  <!-- Empty State -->
  @if (filteredBills.length === 0) {
  <div class="text-center mt-5 text-muted">
    <h5>No bills found...</h5>
  </div>
  }
</div>

<!-- pagination part -->
<div class="d-flex justify-content-center align-items-center mt-4 gap-3">
  <button class="btn btn-outline-primary rounded-pill" (click)="prevPage()" [disabled]="pageIndex === 1">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-left-icon lucide-arrow-left">
        <path d="m12 19-7-7 7-7" />
        <path d="M19 12H5" />
      </svg>
      Previous
    </span>
  </button>

  <span class="fw-semibold">
    Page {{ pageIndex }}
  </span>

  <button class="btn btn-outline-primary rounded-pill" (click)="nextPage()"
    [disabled]="pageIndex * pageSize >= totalBills">
    <span>
      Next
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-right-icon lucide-arrow-right">
        <path d="M5 12h14" />
        <path d="m12 5 7 7-7 7" />
      </svg>
    </span>
  </button>
</div>